    body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    cursor: none !important;
    }

.checkout-card {
    background: white;
    border-radius: 12px;
    padding: 40px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.pay-btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.pay-btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}